# SPDX-License-Identifier: GPL-3.0-only
# Based on InfiniTime's Terminal watch face, https://github.com/InfiniTimeOrg/InfiniTime
requires 1
name Terminal
text 10 17 "[1]+ Notify" if notify=1
text 10 37 color=#B0B0B0 "user@watch:~ $ now"
text 10 57 recolor=on "#ffffff [TIME]# #11cc55 {HH}:{mm}:{ss}#" if clock12=0
text 10 57 recolor=on "#ffffff [TIME]# #11cc55 {hh}:{mm}:{ss} {A}#" if clock12=1
text 10 77 recolor=on "#ffffff [DATE]# #007fff {YYYY}-{MM}-{DD}#"
text 10 97 recolor=on color=battery "#ffffff [BATT]# {battery}%" if charging=0
text 10 97 recolor=on color=battery "#ffffff [BATT]# {battery}% Charging" if charging=1
text 10 117 recolor=on color=#FFB000 "#ffffff [STEP]# {steps} steps"
text 10 137 recolor=on color=#FF4000 "#ffffff [L_HR]# {hr} bpm" if hrOn=1
text 10 137 recolor=on color=#505050 "#ffffff [L_HR]# ---" if hrOn=0
text 10 157 recolor=on "#ffffff [WTHR]# #ffdd00 {temp}{tempU} {wText}#" if weather=1
text 10 157 recolor=on "#ffffff [WTHR]# #ffdd00 ---" if weather=0
text 10 177 recolor=on color=#505050 "#ffffff [STAT]# Disabled" if bleOn=0
text 10 177 recolor=on color=#0050FF "#ffffff [STAT]# Connected" if bleOn=1 ble=1
text 10 177 recolor=on color=#505050 "#ffffff [STAT]# Disconnected" if bleOn=1 ble=0
text 10 197 color=#B0B0B0 "user@watch:~ $"
