# SPDX-License-Identifier: GPL-3.0-only
# Based on InfiniTime's PrideFlag watch face, https://github.com/InfiniTimeOrg/InfiniTime
requires 1
name Pride Gay
rect 0 0 240 35 color=#078D70
rect 0 34 240 35 color=#26CEAA
rect 0 68 240 35 color=#98E8C1
rect 0 102 240 35 color=#FFFFFF
rect 0 137 240 35 color=#00BFF3
rect 0 171 240 35 color=#5049CC
rect 0 205 240 35 color=#3D1A78
text 120 6 color=#000000 align=center "{battery}%"
text 224 0 align=right "{ble}"
text 120 57 color=#000000 align=center "{DD}-{MM}-{YYYY}"
text 120 102 font=jetbrains_mono_42 color=#000000 align=center "{HH}:{mm}:{ss}" if clock12=0
text 120 102 font=jetbrains_mono_42 color=#000000 align=center "{hh}:{mm}:{ss}" if clock12=1
text 120 159 color=#FFFFFF align=center "{dddd}" if clock12=0
text 120 159 color=#FFFFFF align=center "{dddd} {A}" if clock12=1
text 120 210 color=#FFFFFF align=center "{steps} steps"
text 0 -2 color=#000000 "You have\nmail!" if notify=1
