# SPDX-License-Identifier: GPL-3.0-only
# Based on InfiniTime's PrideFlag watch face, https://github.com/InfiniTimeOrg/InfiniTime
requires 1
name Pride Trans
rect 0 0 240 49 color=#00BFF3
rect 0 48 240 49 color=#F49AC1
rect 0 96 240 49 color=#FFFFFF
rect 0 144 240 49 color=#F49AC1
rect 0 192 240 49 color=#00BFF3
text 120 12 color=#FFFFFF align=center "{battery}%"
text 224 0 align=right "{ble}"
text 120 60 color=#FFFFFF align=center "{DD}-{MM}-{YYYY}"
text 120 102 font=jetbrains_mono_42 color=#000000 align=center "{HH}:{mm}:{ss}" if clock12=0
text 120 102 font=jetbrains_mono_42 color=#000000 align=center "{hh}:{mm}:{ss}" if clock12=1
text 120 156 color=#FFFFFF align=center "{dddd}" if clock12=0
text 120 156 color=#FFFFFF align=center "{dddd} {A}" if clock12=1
text 120 204 color=#FFFFFF align=center "{steps} steps"
text 0 -2 color=#000000 "You have\nmail!" if notify=1
