# Steamboat Willie, drawn by Joe Strout from public-domain images
requires 1
name Willie
image 0 0 /canvas/willie/glow.bin
ticks 0 0 240 240 count=60 inner=112 radius=119 width=1 color=#FFFFFF
ticks 0 0 240 240 count=12 inner=108 radius=119 width=3 color=#FFFFFF
hand hour 0 0 240 240 radius=52 width=8 color=#000000
hand hour 0 0 240 240 radius=52 image=/canvas/willie/hand{frame:02}.bin frames=60
image 65 34 /canvas/willie/body.bin if minute>=30
image 41 34 /canvas/willie/body_r.bin if minute<30
text 168 25 align=center color=#FFFFFF "1"
text 204 60 align=center color=#FFFFFF "2"
text 217 109 align=center color=#FFFFFF "3"
text 204 157 align=center color=#FFFFFF "4"
text 168 193 align=center color=#FFFFFF "5"
text 120 206 align=center color=#FFFFFF "6"
text 71 193 align=center color=#FFFFFF "7"
text 36 158 align=center color=#FFFFFF "8"
text 23 109 align=center color=#FFFFFF "9"
text 36 61 align=center color=#FFFFFF "10"
text 71 25 align=center color=#FFFFFF "11"
text 120 12 align=center color=#FFFFFF "12"
hand minute 0 0 240 240 radius=70 width=10 color=#000000
hand minute 0 0 240 240 radius=70 image=/canvas/willie/hand{frame:02}.bin frames=60
