# SPDX-License-Identifier: GPL-3.0-only
# Based on InfiniTime's Infineat watch face, https://github.com/InfiniTimeOrg/InfiniTime
requires 1
name Infineat
line 30 25 68 -8 width=18 color=#FD872B
line 26 167 43 216 width=15 color=#DB3316
line 27 40 27 196 width=14 color=#6F1000
line 12 182 65 249 width=22 color=#FD7A0A
line 17 99 17 144 width=20 color=#FFFFFF
line 14 81 40 127 width=18 color=#FFFFFF
line 14 163 40 118 width=18 color=#FFFFFF
line -20 124 25 -11 width=52 color=#E85102
line -29 89 27 254 width=48 color=#EA1C00
image 15 106 /images/pine_small.bin
bar 15 105 24 32 value=battery min=100 max=0 dir=down color=#FFFFFF opa=190
rect 227 0 13 13 color=#E85102 radius=7 if notify=1
text 119 17 font=/fonts/bebas.bin align=center "{HH}" if clock12=0
text 119 22 font=/fonts/bebas.bin align=center "{hh}" if clock12=1
text 119 116 font=/fonts/bebas.bin align=center "{mm}"
text 212 27 font=/fonts/teko.bin "{A}" if clock12=1
text 210 110 font=/fonts/teko.bin color=#999999 align=center "{ddd} {DD}"
text 210 143 color=#999999 align=center "{ble}"
text 130 216 font=/fonts/teko.bin color=#999999 align=center "{steps}"
text 0 0 left=5 color=#999999 "{shoe}"
