# SPDX-License-Identifier: GPL-3.0-only
# Based on InfiniTime's CasioStyleG7710 watch face, https://github.com/InfiniTimeOrg/InfiniTime
requires 1
name Casio G7710
text 240 0 color=#98B69A align=right "{battery}%"
battery 0 0 left=5 color=#98B69A
text 0 0 left=5 color=#98B69A "{plug}"
text 0 0 left=5 color=#98B69A "{ble}"
text 0 0 left=5 color=#98B69A "{notify}"
text 10 64 font=/fonts/lv_font_dots_40.bin color=#98B69A case=upper "{ddd}"
text 5 22 font=/fonts/lv_font_dots_40.bin color=#98B69A "WK{week:02}" if clock12=0
text 5 22 font=/fonts/lv_font_dots_40.bin color=#98B69A "WK{weekUS:02}" if clock12=1
text 100 30 font=/fonts/7segments_40.bin color=#98B69A "{yday:3}-{daysLeft:3}"
text 100 70 font=/fonts/7segments_40.bin color=#98B69A "{day:3}-{month:2}" if clock12=0
text 100 70 font=/fonts/7segments_40.bin color=#98B69A "{month:3}-{day:2}" if clock12=1
text 120 117 font=/fonts/7segments_115.bin color=#98B69A align=center "{HH}:{mm}" if clock12=0
text 120 117 font=/fonts/7segments_115.bin color=#98B69A align=center "{hour12:2}:{mm}" if clock12=1
text 5 103 color=#98B69A "{A}" if clock12=1
line 106 23 223 23 width=2 color=#98B69A rounded=on
line 223 23 228 18 width=2 color=#98B69A rounded=on
line 0 8 100 8 width=6 color=#98B69A rounded=on
line 100 8 95 103 width=6 color=#98B69A rounded=on
line 95 103 0 103 width=6 color=#98B69A rounded=on
line 103 65 233 65 width=2 color=#98B69A rounded=on
line 233 65 238 60 width=2 color=#98B69A rounded=on
line 98 105 233 105 width=2 color=#98B69A rounded=on
line 233 105 238 100 width=2 color=#98B69A rounded=on
line 3 208 233 208 width=2 color=#98B69A rounded=on
line 233 208 238 213 width=2 color=#98B69A rounded=on
text 5 215 color=#98B69A "{heart}"
text 0 0 right=5 color=#98B69A "{hr}" if hrOn=1
text 235 215 color=#98B69A align=right "{steps}"
text 0 0 left=5 color=#98B69A "{shoe}"
