# SPDX-License-Identifier: GPL-3.0-only
# Based on InfiniTime's PrideFlag watch face, https://github.com/InfiniTimeOrg/InfiniTime
requires 1
name Pride Bi
rect 0 0 240 49 color=#D60270
rect 0 48 240 49 color=#D60270
rect 0 96 240 49 color=#9B4F96
rect 0 144 240 49 color=#0038A8
rect 0 192 240 49 color=#0038A8
text 120 12 color=#000000 align=center "{battery}%"
text 224 0 align=right "{ble}"
text 120 60 color=#000000 align=center "{DD}-{MM}-{YYYY}"
text 120 102 font=jetbrains_mono_42 color=#FFFFFF align=center "{HH}:{mm}:{ss}" if clock12=0
text 120 102 font=jetbrains_mono_42 color=#FFFFFF align=center "{hh}:{mm}:{ss}" if clock12=1
text 120 156 color=#000000 align=center "{dddd}" if clock12=0
text 120 156 color=#000000 align=center "{dddd} {A}" if clock12=1
text 120 204 color=#000000 align=center "{steps} steps"
text 0 -2 color=#000000 "You have\nmail!" if notify=1
